$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
//@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';
@import 'swiper/swiper-bundle';


body {
  font-family: serif, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 50px;
  padding-left: 150px;
  width: 100%;
  background-color: rgb(245, 238, 224);
  min-height: 100vh;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 50px;
    padding-left: 0px;
    width: 100%;
    background-color: rgb(245, 238, 224);
    min-height: 100vh;
  }
}

.header {
  height: 45px;
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffe2b6;
}

.header_border{
  height: 5px;
  width: 100vw;
  position: fixed;
  top: 45px;
  background-color: #e0c7a5;
}

.sidebar {
  width: 150px;
  height: calc(100vh - 50px);
  background-color: rgb(237, 207, 148);
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 45px;
  z-index: 500
}

.side_border{
  height: 100vh;
  width: 5px;
  background-color: #e0c7a5;
  position: fixed;
  left: 145px;
  bottom: 0;
  z-index: 900
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .side_border {
    display: none;
  }
}

.margin-right{
  margin-right: 20px;
}

.close{
  margin-top: 10px;
  width: 120px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
}

.close:hover{
  background-color: rgb(190, 167, 135);
}

.close:active{
  background-color: rgb(167, 146, 116);
}

.close_side{
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 120px;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
}

.close_side:hover{
  background-color: rgb(190, 167, 135);
}

.close_side:active{
  background-color: rgb(167, 146, 116);
}

.select{
  background-color: #e0c7a5;
}

.content_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_color{
  color: rgb(88, 66, 44)
}

//recipe_introduce用

.recipes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; /* 画像の間隔は10px */
}

@media (max-width: 767px) {
  .recipes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin:5px;
  }
}

.recipe_card {
  position: relative;
  //margin: 2em 0;
  margin: 10px auto;
  padding: 20px 20px 40px 20px;
  border: solid 1px #ffb15e;
  background: #faf2f2;
  box-shadow: 2px 2px 10px #c1874d, -2px 2px 10px #c1874d, 2px -2px 10px #c1874d, -2px -2px 10px #c1874d;
  width: 220px;
  height: auto;
}

@media (max-width: 768px) {
  .recipe_card {
    position: relative;
    //margin: 2em 0;
    margin: 10px auto;
    border: solid 1px #ffb15e;
    background: #faf2f2;
    //box-shadow: 2px 2px 10px #c1874d, -2px 2px 10px #c1874d, 2px -2px 10px #c1874d, -2px -2px 10px #c1874d;
    width: 95%;
    height: auto;
    padding: 20px 20px 40px 20px;
  }
}

.ranking-container {
  width: 90%;
  overflow: hidden;
  background: #faf2f2;
  border-radius: 10%;
  padding: 3%;
}

.swiper-slide {
  margin-right: 0px;
  cursor: grab;
}

/* 親要素に position: relative を設定 */
.parent-element {
  position: relative;
}

.recipe_bio {
  font-size: 12px;
  padding: 10px;
  font-family: serif;
  overflow-wrap: break-word;
}

.recipe_name{
  font-size: 15px;
  padding-top: 20px;
  padding-left: 10px;
  font-family:  serif;
  color: #000000;
}

.recipe_name:hover{
  color: #b0b0b0;
}

.recipe_card p {
  margin: 0; 
  padding: 0;
}

.fa-heart {
  color: red;
}

.flex{
  display: flex;
  width: fit-content;
  padding: 0px 5px 0px 5px;
}

.parent{
  position: relative;
}

.like-count{
  margin: 0px 0px 0px 5px;
}

.recipe_image {
  display: block;
	border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 150px;
}

@media (max-width: 768px) {
  .recipe_image {
    display: block;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 120px;
  }
}

.recipe_image:hover{
  opacity: 0.5;
}

.categoty{
  width: auto;
  background-color: #e0c7a5;
  border-radius: 5px;
  color:#faf2f2;
  padding: 2px;
}

.margin-left{
  margin-left: 5px;
}

.margin-top25{
  margin-top: 25px;
}

.font_small{
  font-size: 11px;
}

.center{
  display: flex;
  align-items: center;
}

.logo{
  position: fixed;
  top: 0;
  left: 0;
}

.font_serif{
  font-family: serif;
}

.d-flex-between{
  display: flex;
  justify-content: space-between;
}

.padding2_5{
  padding: 2.5px;
}

.logo_image{
  width: 145px;
  height: 40px;
  border-radius: 10px;
}

.header_font {
  font-size: 15px;
  color: #1b0000;
}

.sideber_font{
  font-size: 15px;
  cursor: pointer;
  color: #554e4e;
  text-decoration: none; /* 下線を消す */
}

.sideber_font:hover{
  font-size: 15px;
  cursor: pointer;
  color: #554e4e;
  text-decoration: none; /* 下線を消す */
}

.bottom_border_erase:hover{
  text-decoration: none;
}

p {
  margin: 0;
}

.like_position{
  position: absolute;
  bottom: 3px;
  right: 10px
}

.stamp_position{
  position: absolute;
  width: auto;
  bottom: 8px;
  left: 10px;
}

.trash{
  color: #000000;
}

.trash:hover{
  color: #a8a8a8;
}

.height{
  height: 30px;
}

//トップページのscss

.top_images{
  width: 80%;
  height: auto;
}

.explanation{
  background-color: rgb(228, 195, 154);
  border-radius: 5px;
  margin: 10%;
  padding: 5px;
}

.explanation_title{
  font-size: 20px;
  border-bottom:1px solid #000000;
  margin-bottom: 50px;
}

.margin40{
  margin: 40px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 5px;
}

.delicious{
  font-size: 10px;
  color: #a46824;
  background-color: #f8e3e3;
  border-radius: 25%;
}

.delicious_count{
  font-size: 10px;
  margin: 0px 0px 0px 5px;
}

.undelicious{
  font-size: 10px;
  color: #a46824;
  background-color: #ffffff;
  border-radius: 25%;
}

.stamp_container{
  display: flex;
  position: absolute;
  height: 30px;
  width: 85%;
  bottom: 0;
}
@media (max-width: 768px) {
  .stamp_container{
    display: flex;
    position: absolute;
    height: 30px;
    width: 80%;
    bottom: 0;
  }
}

.width{
  width: auto;
  flex:1;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  //text-align: center;
}

h2:before,
h2:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

h2:before {
  left: 0;
}

h2:after {
  right: 0;
}
