$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
//@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';
@import 'swiper/swiper-bundle';


body {
  font-family: serif, sans-serif;
}

.admin{
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 100000000;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white; /* 文字の色 */
  text-align: center; /* テキストの位置 */
  padding: 10px; /* 内側の余白 */
  z-index: 1000; /* 他の要素よりも前に表示 */
  height: 0px;
  visibility: hidden;
  background-color: #000;
}

.message{
  visibility: visible;
  cursor: pointer;
  z-index: 100000000;
}

.flash.notice:hover{
  background-color: rgb(192, 227, 176) !important;  /* ここに希望の色のコードを入れてね */
}

.flash.notice:active{
  background-color: rgb(165, 196, 150) !important;  /* ここに希望の色のコードを入れてね */

}

.flash.alert:hover{
  background-color: rgb(230, 204, 204) !important;  /* ここに希望の色のコードを入れてね */
}

.flash.alert:active{
  background-color: rgb(208, 186, 186) !important;  /* ここに希望の色のコードを入れてね */
}

@keyframes fadeUpOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fadeDownIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.fade-up-out {
  animation: fadeUpOut 1s forwards;
}

.fade-down-in{
  animation: fadeDownIn 1s forwards;
}

.content {
  position: relative;
  padding-top: 45px;
  padding-left: 150px;
  padding-bottom: 150px;
  width: 100%;
  background-color: rgb(245, 238, 224);
  min-height: 100vh;
}

@media (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 200px;
    width: 100%;
    background-color: rgb(245, 238, 224);
    min-height: 100vh;
  }
}

.header {
  height: 45px;
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #ffe2b6;
  border-bottom: 5px solid #e0c7a5;
}

.margin-right{
  margin-right: 20px;
}

.close{
  margin-top: 10px;
  width: 120px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
}

.close:hover{
  background-color: rgb(190, 167, 135);
}

.close:active{
  background-color: rgb(167, 146, 116);
}

.close_header.select {
  background-color: #e0c7a5;
}

.select {
  background-color: #e0c7a5;
}

//recipe_introduce用

.recipes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; /* 画像の間隔は10px */
}

@media (max-width: 1010px) {
  .recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* ギャップを考慮 */
    grid-gap: 5px;
    margin:10px;
  }
}

@media (max-width: 920px) {
  .recipes-container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 2.5px)); /* ギャップを考慮 */
    grid-gap: 5px;
    margin:10px;
  }

}

.recipe_card {
  position: relative;
  //margin: 2em 0;
  margin: 10px auto;
  padding: 20px 20px 40px 20px;
  border: solid 1px #ffb15e;
  background: #faf2f2;
  box-shadow: 2px 2px 10px #c1874d, -2px 2px 10px #c1874d, 2px -2px 10px #c1874d, -2px -2px 10px #c1874d;
  width: 220px;
  height: auto;
}

@media (max-width: 768px) {
  .recipe_card {
    position: relative;
    //margin: 2em 0;
    //margin: 10px auto;
    border: solid 1px #ffb15e;
    background: #faf2f2;
    box-shadow: 2px 2px 10px #c1874d, -2px 2px 10px #c1874d, 2px -2px 10px #c1874d, -2px -2px 10px #c1874d;
    max-width: 100%;
    height: auto;
    padding: 20px 20px 40px 20px;
  }
}

.ranking-container {
  width: 90%;
  overflow: hidden;
  background: #faf2f2;
  border-radius: 10%;
  padding: 3%;
}

.swiper-slide {
  margin-right: 0px;
  cursor: grab;
}

/* 親要素に position: relative を設定 */
.parent-element {
  position: relative;
}

.recipe_bio {
  font-size: 12px;
  padding: 10px;
  font-family: serif;
  overflow-wrap: break-word;
}

.recipe_name{
  font-size: 15px;
  padding-top: 20px;
  padding-left: 10px;
  font-family:  serif;
  color: #000000;
}

.recipe_name:hover{
  color: #b0b0b0;
}

.recipe_card p {
  margin: 0; 
  padding: 0;
}

.fa-heart {
  color: red;
}

.flex{
  display: flex;
  width: fit-content;
  padding: 0px 5px 0px 5px;
}

.parent{
  position: relative;
}

.like-count{
  margin: 0px 0px 0px 5px;
}

.recipe_image {
  display: block;
	border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 150px;
}

@media (max-width: 768px) {
  .recipe_image {
    display: block;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 120px;
  }
}

.recipe_image:hover{
  opacity: 0.5;
}

.categoty{
  width: auto;
  background-color: #e0c7a5;
  border-radius: 5px;
  color:#faf2f2;
  padding: 2px;
}

.margin-left{
  margin-left: 5px;
}

.margin-top25{
  margin-top: 25px;
}

.font_small{
  font-size: 11px;
}

.center{
  display: flex;
  align-items: center;
}

.logo{
  position: fixed;
  top: 0;
  left: 0;
}

.font_serif{
  font-family: serif;
}

.d-flex-between{
  display: flex;
  justify-content: space-between;
}

.padding2_5{
  padding: 2.5px;
}

.logo_image{
  width: 145px;
  height: 40px;
  border-radius: 10px;
}

.bottom_border_erase:hover{
  text-decoration: none;
}

p {
  margin: 0;
}

.like_position{
  position: absolute;
  bottom: 3px;
  right: 10px
}

.stamp_position{
  position: absolute;
  width: auto;
  bottom: 8px;
  left: 10px;
}

.trash{
  color: #000000;
}

.trash:hover{
  color: #a8a8a8;
}

.height{
  height: 30px;
}

//トップページのscss

.top_images{
  width: 80%;
  height: auto;
}

.explanation{
  background-color: rgb(228, 195, 154);
  border-radius: 5px;
  margin: 10%;
  padding: 5px;
}

.explanation_title{
  font-size: 20px;
  border-bottom:1px solid #000000;
  margin-bottom: 50px;
}

.margin40{
  margin: 40px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
}

.flash.alert {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 5px;
}

.delicious{
  font-size: 10px;
  color: #a46824;
  background-color: #f8e3e3;
  border-radius: 25%;
}

.delicious_count{
  font-size: 10px;
  margin: 0px 0px 0px 5px;
}

.undelicious{
  font-size: 10px;
  color: #a46824;
  background-color: #ffffff;
  border-radius: 25%;
}

.stamp_container{
  display: flex;
  position: absolute;
  height: 30px;
  width: 85%;
  bottom: 0;
}

@media (max-width: 768px) {
  .stamp_container{
    display: flex;
    position: absolute;
    height: 30px;
    width: 80%;
    bottom: 0;
  }
}

.width{
  width: 50%;
  flex:1;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 65px;
  //text-align: center;
}

h2:before,
h2:after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

h2:before {
  left: 0;
}

h2:after {
  right: 0;
}

.d-flex-sidber{
  display: flex;
  justify-content: end;
}

//レイアウトコンポーネント.

.d-flex-end{
  display: flex;
  justify-content: end;
}

.header_pc{
  display: flex;
  max-height: 45px;
  justify-content: space-between;
  visibility: visible;
  padding-right: 10px;
}

@media (max-width: 767px) {
  .header_pc{
    display: block;
    visibility: hidden;
  }
}

.header_mp{
  display: none;
}

.logo_position{
  display: flex;
  justify-content: start;
}

@media (max-width: 767px) {
  .logo_position{
    display: flex;
    justify-content: center;
    visibility: visible;
  }
}

.sidebar_display{
  display: none;
}

@media (max-width: 767px) {
  .sidebar_display{
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
  }
}

.footer{
  display: none;
  //visibility: hidden;
}

.icon_color{
  color: rgb(88, 66, 44)
}

.icon_color_side{
  color: rgb(88, 66, 44)
}

@media (max-width: 767px) {
  .icon_color{
    color: white;
  }
}

@media (max-width: 767px) {

  .header_mp{
    display: block;
  }

  .close_header_mp p{
    font-size: 12px;
    color: white;
  }

  .close_footer{
    width: 80px;
  }

  .footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #171717;
    z-index: 100;
    color: white;
    visibility: visible;
  }
}

.icon_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.close_header{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  

  // .headerの下線と合わせるため
  margin-top: 4px;
  
  width: 120px;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  font-size: 15px;
  color: #1b0000;
}

.close_header p{
  color: #1b0000;
}

.close_header:hover{
  background-color: rgb(190, 167, 135);
  text-decoration: none; 
}

.close_header:active{
  background-color: rgb(167, 146, 116);
  text-decoration: none; 
}

.close_margin{
  margin-right: 5px;
  margin-left: 5px;
}

.close_side{
  //アイコンと文字の縦の位置を揃える
  display: flex;
  align-items: center;
  //justify-content: center;

  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 120px;
  height: 40px;
  border-radius: 10px 0px 0px 10px;

  font-size: 15px;
  cursor: pointer;
  color: #554e4e;
  text-decoration: none;

}

@media (max-width: 767px) {
  .close_side{

  }
}

.close_side:hover{
  background-color: rgb(190, 167, 135);
  text-decoration: none; 
}

.close_side:active{
  background-color: rgb(167, 146, 116);
  text-decoration: none; 
}

.sideber_font{
  font-size: 15px;
  cursor: pointer;
  color: #554e4e;
  text-decoration: none; 
}

.sideber_font:hover{
  font-size: 15px;
  cursor: pointer;
  color: #554e4e;
  text-decoration: none; 
}

// サイドバー本体.

.sidebar {
  width: 150px;
  height: calc(100vh - 45px);
  background-color: rgb(242, 226, 184);
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 45px;
  border-right: 5px solid #e0c7a5;
  z-index: 500;
}

.sidebar_animation{
  transform: translateX(-100%); /* 初期位置を左の外に設定 */
  animation: slideIn 2s forwards; /* 2秒かけてスライドイン */
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* 始点は左の外 */
  }
  100% {
    transform: translateX(0); /* 終点は元の位置 */
  }
}

.active_state{
  display: block;
}

@media (max-width: 767px) {
  .active_state{
    display: none;
  }

  .sidebar_ph.active_state{
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden{
    display: none;
  }
}


.using{
  background-color: #a9a6a6;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}

.sidebar_ph{
  display: none;
}

@media (max-width: 767px) {
  .sidebar_ph{
    display: block;
    width: 150px;
    height: calc(100vh - 45px);
    background-color: rgb(237, 207, 148);
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 45px;
    border-right: 5px solid #e0c7a5;
    z-index: 500;
  }
}

.alien-center {
  display: flex;
  align-items: center;
  text-align: center;
}

//　プライバシーポリシーなどについて

.privacy_etc_position{
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .privacy_etc_position{
    display: flex;
    width: 100%;
  }
}

.privacy_etc_link_container{
  position: absolute;
  background-color: #a8a8a8;
  border-top: 1px solid #c3b8b8;
  bottom: 0;
  left: 150px;
  width: calc(100% - 150px);
  height: 100px;
  z-index: 10;
}

@media (max-width: 767px) {
  .privacy_etc_link_container{
    position: absolute;
    background-color: #a8a8a8;
    border-top: 1px solid #c3b8b8;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 150px;
    z-index: 10;

  }
}

.privacy_etc_link_logout_container{
  position: absolute;
  background-color: #a8a8a8;
  border-top: 1px solid #c3b8b8;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.privacy_etc_title{
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.heading{
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  border-left: 3px solid black ;
  padding-left: 10px;
}

.privacy_etc_container{
  margin: 0 60px 0 60px;
}

.margin-left30{
  margin-left: 30px;
}

.margin-left70{
  margin-left: 70px;
}

.margin-top30{
  margin-top: 30px;
}

.links_font{
  font-size: 12px;
}

.text{
  font-size: 13px;
  font-weight: bold;
}

.margin-top10{
  margin-top: 10px;
}

//ランキングについて

@media (max-width: 767px) {
  .ranking_font{
    font-size: 22px;
  }
}

