.hide{
  display: none;
}

.absolute{
  position: absolute;
}


.small{
  width: 40px;
  height: 40px;
}

.p{
  margin: 0;
}

.recipe_container{
  width: 100px;
  height: 150px;
  background-color: rgb(136, 139, 138);
}

.original-box-shadow {
  color: rgb(51, 51, 51);
  background-color: #ead5d5;
  width: 300px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  position: relative;
}

.original-box-shadow::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 8px;
  box-shadow: 0 40px 15px rgba(0, 0, 0, .5);
  background-color: transparent;
  border-radius: 80px / 4px;
}

.evolution_image{
  width: 100px;
  height: 100px;
}

.canvas_evolution{
  width: 300px;
  height: 300px;
  box-shadow: 0 0 40px 15px rgba(0, 0, 0, .5);
  background-color: white;
  //animation: slideIn 3s ease-in-out;

}

.juel{
  //animation: slide 3s ease-in-out;
  z-index: 500;
}

.juel:hover{
  opacity: 0.5;
}

.text{
  animation: slideIn 3s ease-in-out;
}

.align{
  display: flex;
  align-items: center;
}

.margin-left{
  -left: 5px;
}
.margin_bio{
  white-space: pre-wrap; 
  margin: 10px 5px 10px 5px;
}

.background {
  height: auto;
  border-radius: 100px;
  background-color: rgb(250, 228, 228);
  margin: 20px;
}

.introduce{
  z-index: 1000
}

.font{
  font-family: 'Arial', sans-serif; /* フォントをArialに変更する */
}

.point{
  width: 12px;
  height: 15px;
  background-color: white;
  z-index: 500;
}


.margin-top{
	margin-top: 20px;
}

.font{
	font-size: 30px;
	font-family:  serif;
}

.font_test {
  font-size: 30px;
  font-family:  serif;   
}

.p{
  margin: 0;
}

.title{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 30px;
  animation: slideIn 2s ease-in-out;
}

@media (max-width: 767px) {
  .title{
    font-size: 15px;
  }
}

.link{
  color: rgb(0, 0, 0);
}

.link:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@keyframes blink {

  0% { opacity: 0; }

  100% { opacity: 1; }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.flame_container {
  position: relative;
  width: 100%; /* 画面の2倍の幅 */
  margin: 30px 0 30px 0;
  height: auto; /* 任意の高さ */
  overflow: auto; /* スクロール可能にする */
  white-space: nowrap; /* テキストの折り返しを防ぐ */
  background-color: rgb(166, 241, 241);
  padding: 10px;
}


.flame{
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgb(166, 241, 241);
  overflow: visible;
}

.juel_introduce{
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1000000000;
}

.appeal_letter{
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: 1000;
  font-weight: bold;
}

.letter_container{
  position: relative;
  width: 90%;
}

.recipe_letter{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  font-weight: bold;
}