.show_container{
	width :auto;
	height: auto;
	max-width: 100vw;
	background-color: rgb(224, 245, 245);
	padding: 20px;
	//box-sizing: border-box;  /* 追加 */
	overflow-x: hidden;
}

//_comment.replyhtml.slim
.reply_container{
	margin-bottom: 20px;
	padding-left: 20px;
	width: 50%;
}

.replies{
	display: flex;
	//margin: 0px auto;
}

.comment-icon {
  display: flex;
  align-items: center; /* アイコンとテキストを垂直方向の中央に揃える */
}

.comment_container p {
  margin-bottom: 0px; /* pタグの下マージンを0に設定 */
}

//_comment_body.html.slim
.body-card{
	width: 100%;
}

.content_container{
	width: 700px
}

.hide{
	display: none;
}

.show{
	display:block
}

.icon-replies{
	display: flex;
	align-items: center;
	gap: 8px; 
}

.icon-replies :hover{
	cursor: pointer;
}

.icon :hover{
	cursor: pointer;
}

.comment{
	margin-bottom: 30px;
}

.reply_container p{
	margin: 0px
}

.horizontally{
	display: flex;
	width: 550px;
	gap: 30px;
	align-items: center;
	overflow: hidden;
	flex-wrap: wrap;
}

.horizontally_image{
	display: flex;
}


.culumn_set p{
	margin: 0px;
	font-size: 12px;
}

.culumn_contents{
	background-color: rgb(189, 246, 246);
	text-align: center;
	vertical-align:sub;
	padding: 5px;
	border-radius: 10px;

	overflow-wrap: break-word;
	text-align: left;
	width: 150px;
	height: 20vh;

	font-size: 14px;
}

.show_container p{
	margin: 0;
}

.step_margin{
	margin: 0px 0 20px 0;
}

.make_number{
	background-color: rgb(158, 164, 164);
	width: 25px;
	height:25px;
	text-align: center;
	line-height: 25px;  /* 縦方向の中央揃えに使う */
	color: white;
	border-radius: 5px;
}

.how_to_make{
	margin: 20px 0 20px 0;
}

.recipe_name{
	background-color: rgb(189, 246, 246);
}

.image{
	width: 300px;
	height: 300px;
	margin: 30px auto 30px 0;
}

.vertical {
	margin: 30px auto 30px auto;
}

.vertical p{
	margin: 0 0 20px 0;
}

.ing_set {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 左端と右端に要素を配置 */
  border-bottom: 1px solid #000; /* 下に線を引く */
}

.ing_set p{
	margin: 0 0 0 0;
}

.comment_container{
	font-size: large;
	//margin: 0 10vw 0 10vw;
	width: 70%;
	height: auto;
}

.comment_container_p{
	//reactの影響よけでpを定義
	border-left: 4px solid #000;
	padding-left: 10px;
}

.comment_form{
	position: fixed;
  top: 10%;
	left: 70%
}

.form-control {
  width: 500px; /* 幅を300pxに設定 */
	height: 30px;
	border-radius: 15px;
	margin: 20px;
}

.submit_button{
	font-size: 13px;
	width: 50px;
	height: 29px;
	color: white;
	background-color: rgb(158, 164, 164);
	border-radius: 15px;
	border: none;
	//padding: none;
}

.form_containar{
  display: flex;
  justify-content: flex-end;
}

.comment_icon{
  margin-left: 50px;
}

.avater{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.avater-reply{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}


//コメント入力フォームとアバターの写真を上下方向中央に
.comment_arrangement{
  display: flex;
  align-items: center;
	//justify-content: center;
}


.bottom_border{
	border-bottom:solid black 1px;
}

//全体　
.width700{
	width: 700px;
}

.space_left{
	margin-left: 20px
}

.space_left50{
	margin-left: 50px
}

.space_right{
	margin-right: 20px
}

.space_top{
	margin-top: 20px
}

.font_small{
	font-size: small;
}

.body-card d-flex{
	min-width: 700px;
	//margin-left: 10000px;
}

//上下揃え
.align_center{
	align-items: center;
}
