= link_to recipe_stamp_middles_path(recipe_id: recipe.id, stamp_type: 'Like'), data: { turbo_method: :post }, remote: true, id: "unliked_button_#{recipe.id}", onclick: "this.href += '&referrer=' + encodeURIComponent(window.location.href);" do
  .i class="fa-regular fa-heart"
